@tailwind base;
@tailwind components;
@tailwind utilities;



a.active{
      background-color: #99E341;
      color: #fff;
      padding-inline: 10px;
      padding-block: 4px;
      border-radius: 3px;
}

